* {
    font-family: 'Oxygen', sans-serif;
}

#login-form {
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}



/*

padding: 25px 50px 75px 100px;
top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px

*/

.controls{
    /* border: 2px solid blue; */
    padding: 5px 20px 5px 15px;
    width: 500px;
}

.controls input {
    width: 500px;
    padding: 25px 50px 75px 100px;
}

.footer {
    text-align: center;
}

#header-logo {
    height: 55%;
    width: 20%;
}

#header-logo img {
    width: 300px;
    height: 200px;

}
